.header{
  width: 100%;
  height: 30vh;
  border-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:100;
  background-image: url("Images/top2.jpeg");
  display: flex;
  flex-direction: column;
  

}

.header222{
  background: rgba(0, 0, 0, 0.301);
    overflow: hidden;
    height: 30vh;
}
.searchTerm {
  width: 100%;
  border: 1px solid #C9B925;
  border-right: none;
  padding: 5px;
  height: 5.7vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm:focus{
  color: #000505;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #C9B925;
  background: #C9B925;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
 
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar{
width: 30%;
padding-left: 3%
}

.heading{
  font-family: 'Trebuchet MS';
  font-size: xx-large;
  padding-top: 1%;
  font-size: 500%;
  font-weight: 600;
  padding-left: 3%;
  color: white;
 
}

.bottom{
  display: flex;
  flex-direction: row;

  padding-top: 5%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;

  
  
}

.sub-heading{
  font-family: 'Trebuchet MS';
  font-size: 120%;

}

.filter{
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  height: 50vh;

 
 

}

.filter-box{
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 50vh;

  
  
}

.shops{
  width: 80%;
  display: flex;
  flex-direction: column;
  
  
}

.shop-card{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
  height: 43vh;
  margin: 2.5%;
  display: flex;
  flex-direction: row;
  padding: 2%;
 
}





.shop-name{
  font-family: 'Trebuchet MS';
  
  padding-top: 3%;
  padding-right: 3%;
  font-size: 170%;
  font-weight: 500;

}
.shop-info{
  width: 50%;
}
.shop-pic{
  width: 50%;
}

.detail-icons{
 
  display: flex;
  flex-direction: row;
  width: 100%;

  
  align-items: center;
  justify-content: center;

}

/* .shop-pic{
  
  margin: 2%;
} */


.shop-website{
  border-style: solid;
  border-radius: 20%;

}

.ic{
  color: #FFFFFF;
}
.button-42 {
  margin-right: 2%;
  background-color: initial;
  background-image: linear-gradient(-180deg, #26031fe8, #26031F);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.info{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-family: 'Trebuchet MS';
  font-size: 100%;
  
}

.info2{
  display: flex;
  flex-direction: row;
  font-family: 'Trebuchet MS';
  font-size: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.txt{
  font-weight: bold;

  width: 25%;
}


.type{
  
  width: 100%;
  height: 43%;
  font-family: 'Trebuchet MS';
  font-size: 100%;
  padding: 2%;
  direction: flex;
  flex-direction: column;


}

.location{
  width: 100%;
  height: 57%;
  font-family: 'Trebuchet MS';
  font-size: 100%;
  padding: 2%;
  direction: flex;
  flex-direction: column;
}

.f-heading{
  width: 100%;
  height: 15%;
  margin-left: 2%;
  font-family: 'Trebuchet MS';
  font-weight: bolder;
  padding-top: 5%;
  
}

.stars{
  
  margin-bottom: 3%;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: #C9B925;
  outline: 1px solid #39052F;
 
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  
  background: #0c0500;
}
/* 
.r{
 
  
} */

.o{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 2%;
 
}

.o1{
  width: 78%;
}

.line{
  border: 0;
  height: 1px;
  background: #333;
  /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
  width: 90%;
  margin-right: 7%;
  
}

.card-top{
  display: flex;
  flex-direction: row;
}

.card-top-left{
  width: 55%;
}

.card-top-right{
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 5%;
  display: block;
 
  
  
}

.review-text{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #39052F;
  
  

}






/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
 
  min-height: 3rem;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 5%;
 
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}



.gg-pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 11.2px;
  height: 3.2px;
  border-right: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: 1%;
  color: #39052F;
}
.gg-pen::after,
.gg-pen::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}
.gg-pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0
}
.gg-pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px
}


.distyp{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.dt{
  border: 1px solid rgba(79, 105, 75, 0.1);
  border-radius: .25rem;
  align-items: center;
  padding: 1%;
  vertical-align: baseline;
  width: 50%;
  margin-right: 1%;
  color: #39052F;
  
}


.modal{
  position: fixed;
  left:0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.modal-content{
  width: 60%;
  height: 80vh;
  background-color: #fff;
}

.modal-header{
  display: flex;
 
  flex-direction: row;
  
  

}


.modal-title{
  
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  font-style: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;

  
  
}

