.outer{
	width: 100%;
	height: 95vh;
	display: flex;
   
	align-items: center;
	background-image: url("../Images/headermap.jpg");
   
  }
  
  
  .inner{
	width: 50%;
	height: 60vh;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 25%;
	display: flex;
	flex-direction: column;
  
  }
  
  .header{
	width: 100%;
	height: 20%;
	background-color: #93c48b;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	text-align: center;
  }
  
  .header-text{
	padding-top: 5%;
	font-family: 'Trebuchet MS';
	font-size: x-large;
	color: white;
	font-weight: bold;
  }
  
  
  .searchTerm {
	width: 70%;
	border: 1px solid #93c48b;
   
	padding: 5px;
	height: 5.7vh;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	color: #9DBFAF;
  }
  
  .button-37 {
  background-color: #567252;
  border: 1px solid #4e684a;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Trebuchet MS';
  width: 30%;
  }
  
  .button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
  .button-37 {
	padding: 10px 30px;
  }
  }
  
  
  .body{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 1%;
	height: 60%;
	
   
  
  }
  
  
  .body1{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 1%;
	height: 40%;
	
   
  
  }
  
  .lower{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
  }
  .lower1{
	width: 100%;
	height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
  }
  
  .email{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 1%;
	font-family: 'Trebuchet MS';
	font-size: large;
  }
  
  .email-enter{
	width: 70%;
	margin-right: 5%;
  }
  
  
  .but{
	width: 100%;
  }
  